/* Write your CSS here */
.products-container {
  padding-left: 35px;
}

.detail-product-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 28px;
}

.img-container {
  height: 590px;
  width: 500px;
  border-color: #ffffff;
}

.image-size {
  height: 590px;
  width: 100%;
  border-radius: 18px;
}

.star-rating-containers {
  width: 165px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description-container {
  width: 35%;
  padding: 24px;
  margin-left: 30px;
}

.title-heading {
  font-family: 'Roboto';
  font-size: 50px;
  font-weight: bold;
  color: #12022f;
}

.price-para {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  color: #12022f;
}

.rating-container {
  width: 70px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.star-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-image-size {
  height: 20px;
  width: 20px;
}

.review-para {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: #12022f;
}

.description-para {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: #616e7c;
}

.span-ele {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
  color: #12022f;
}

.available-para {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: #616e7c;
}
.span-ele {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
  color: #12022f;
}

.plus-minus-container {
  display: flex;
  align-items: center;
  height: 45px;
  width: 130px;
  justify-content: space-between;
}

.minus-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-color: #616e7c;
  border-width: 1px;
  border-style: solid;
  height: 20px;
  width: 20px;
}

.minus-para {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  color: #616e7c;
  padding-bottom: 2px;
}

.count-para {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  color: #616e7c;
}

.plus-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-color: #616e7c;
  border-width: 1px;
  border-style: solid;
  height: 20px;
  width: 20px;
}

.plus-para {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  color: #616e7c;
  padding-bottom: 2px;
}

.add-to-cart-btn {
  border-width: 0;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: #3b82f6;
  height: 35px;
  width: 130px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 15px;
}

.unordered-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  justify-content: space-between;
  padding-left: 0;
}
